<style>
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
</style>

body {background-color: white;}

#breakfast2{
  position: absolute;
  top:10%;
  left:10%;
}

#breakfast2context{
  width:20%;
  position: absolute;
  top:30%;
  left:65%;
  font-family:'Poiret One';
  font-size: 20pt;
}

#botton{
  position: absolute;
  top:90%;
  left:80%;
  font-family:'Poiret One';
  font-size: 20pt;

}
